<div class="table-container">
  <ng-container *ngIf="headerTemplate">
    <div class="table-header">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>
    <div class="divider-row"></div>
  </ng-container>
  <ng-container *ngIf="bodyTemplate">
    <div class="table-body">
      <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="footerTemplate">
    <div class="table-footer">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </ng-container>
</div>
